.layoutContainer {
  display: flex;
  width: 100%;
  height: 100%;

  > * {
    height: 100%;
  }

  .resizeContainer {
    border-left: 2px solid #acacac;
    cursor: ew-resize;
  }

  .mapContainer {
    flex: 1;
  }
}
