.sidePanel {
  height: 100%;

  .topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .tabPanel {
    padding: 1rem;
    border: none;
    box-shadow: none;
    overflow-y: auto !important;
    height: 94%;
  }
}
